.footer {
  padding: 60px 15px;
}
.footer__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  // align-items: baseline;
}
.footer__logo {
  color: var(--color-text-two);
}
.address {
  margin-top: 20px;
  font-style: normal;
}
.address__about {
  margin-top: 0;
  margin-bottom: 9px;
  line-height: 1.71;
  color: var(--color-text-two);
  text-decoration: none;
}
.address__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__item {
  margin-bottom: 9px;
}
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-left: 70px;
}
.join__title {
  color: var(--color-text-two);
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}
.join-list {
}

.social__link_footer {
  background-color: #44454e;

  transition: background-color var(--time-animation) var(--cubic);

  &:focus,
  &:hover {
    background-color: var(--color-link);
  }
}

.social__icon_footer {
  fill: var(--color-text-two);
  transition: fill var(--time-animation) var(--cubic);
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-left: 93px;
}
.subscribe__title {
  @include font($fs: 14px, $fw: 700, $lh: 16px);
  font-style: normal;
  // font-weight: bold;
  // font-size: 14px;
  // line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 12px;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__input {
  width: 358px;
  height: 55px;
  color: var(--color-text-two);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;

  &::placeholder {
    @include font($fs: 16px, $fw: 400, $lh: 20px);
    font-style: normal;
    // font-weight: normal;
    // font-size: 16px;
    // line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  @include font($fs: 16px, $fw: 700, $lh: 30px);
  // font-weight: var(--font-title);
  // font-size: 16px;
  // line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-text-two);
  background-color: var(--color-link);

  cursor: pointer;

  padding: 10px 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-animation) var(--cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.subscribe__icon {
  fill: #fff;
  width: 24px;
  height: 24px;
}
