.hero {
  width: 480px;
  text-align: center;
  padding: 118px 0;
  background-color: black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/banner/banner-mob.jpg");
  background-size: cover;
}
.hero__title {
  max-width: 400px;
  margin: 0 auto;
  @include font($fs: 26px, $fw: 900, $lh: 42px);
  // font-weight: 900;
  // font-size: 26px;
  // line-height: 42px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

// 2x-480px
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/banner/banner-mob@2x.jpg");
  }
}

// 768px
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/banner/banner-tab.jpg");
  }
}
// 2x-768px
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/banner/banner-tab@2x.jpg");
  }
}

// 1200px
@media screen and (min-width: 1200px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/banner/banner-des.jpg");
    padding: 200px 0;
    width: 100%;
    height: 600px;
  }
  .hero__title {
    max-width: 690px;
    font-size: 44px;
    line-height: 1.36;
  }
}
// 2x-1200px
@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/banner/banner-des@2x.jpg");
  }
}
