.rules {
}

.rules__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.rules__item {
  max-width: 100%;
  text-align: left;
}
.rules__box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--background);
}
.rules__icon {
  width: 70px;
  height: 70px;
}
.rules__list {
  justify-content: center;
  display: grid;
  gap: 30px;
  margin-bottom: 62px;
}
.rules__about {
  line-height: 1.71;
}
@media screen and(min-width: 480px) {
  .rules__list {
    grid-template-columns: repeat(1, 450px);
    grid-template-rows: repeat(4, 226px);
  }
}

// 768+
@media screen and(min-width: 768px) {
  .rules__title {
    text-align: left;
  }
  .rules__list {
    grid-template-columns: repeat(2, 354px);
    grid-template-rows: none;
    gap: 30px;
    justify-content: center;
  }
  .rules__item {
    margin-bottom: 30px;
    width: 354px;

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}
// 1200+
@media screen and(min-width: 1200px) {
  .rules__list {
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: none;
  }
  .rules__item {
    width: 270px;
    margin-right: 30px;
    text-align: left;

    &:last-child {
      margin-right: 0;
    }
  }
}
