.button {
  font-weight: var(--font-title);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--color-text-two);
  background-color: var(--color-link);

  cursor: pointer;

  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-animation) var(--cubic);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
