.form {
  display: flex;
  flex-direction: column;
}
.form__about {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  max-width: 370px;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and(min-width: 1200px) {
  .form__about {
    max-width: 448px;
  }
}
.form__label {
  margin-bottom: 10px;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--time-animation) var(--cubic);

  &:focus {
    border-color: var(--color-link);
    outline: none;
  }
}

.form__span {
  display: block;
  position: relative;
  margin-top: 4px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill var(--time-animation) var(--cubic);

  .form__input:focus + & {
    fill: var(--color-link);
  }
}

.form__label_textarea {
  margin-bottom: 20px;
}
.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border var(--time-animation) var(--cubic);

  &:focus {
    border-color: var(--color-link);
    outline: none;
  }
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
  padding-left: 32px;
}
.checkbox__icon {
  position: absolute;
  display: block;
  width: 16px;
  height: 15px;
  left: 10px;
  border: 1px solid #000000;
  border-radius: 4px;

  .checkbox__input:checked ~ & {
    border-color: #188ce8;
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.form__button {
  width: 200px;
  height: 50px;
  align-self: center;
}
