.title {
  font-weight: var(--font-title);
  font-size: 28px;
  line-height: 1, 17;

  color: var(--color-title);
  text-align: center;
}
@media screen and (min-width: 1200) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}
