h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
section {
  padding-top: 94px;
}
img {
  display: block;
}
header {
  border-bottom: 1px solid #ececec;
}
footer {
  background-color: #2f303a;
}
.list {
  list-style: none;
}
body {
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text);
  font-size: var(--font-size);
  background-color: var(--background-color);
}
