.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}
// 480px
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin: 0 auto;
  }
}
// 768+
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
// 1200+
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
