:root {
  --font-family: Roboto, sans-serif;
  --letter-spacing: 0.03em;
  --color-link: #2196f3;
  --color-title: #212121;
  --font-title: 700;
  --font-size: 14px;
  --background-color: #ffffff;
  --background: #f5f4fa;
  --color-text: #757575;
  --color-text-two: #ffffff;
  --color-icon: #afb1b8;
  --time-animation: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
